<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Farseer</title>
        <style>
            .box {
                display: flex;
                flex-wrap: wrap;
                width: 400px;
                margin: 0 auto;
            }

            .box > * {
                flex: 1 1 100px;
            }

            /*            div {
                            background: cyan;
                            border-width: 1px;
                            border-style: dotted;
                        }*/
            .logo {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 400px;
            }

            .input {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 400px;
                display: flex;
            }

            .input > input {
                flex-grow: 2;
            }

            .options {
                display: flex;
                width: 100%;
            }

            .options > * {
                flex: 1 1 50px;
            }

            .options > .wider {
                flex: 2 1 200px;
            }
        </style>
        <link
                rel="shortcut icon"
                href="/img/logo.ico"
        >
    </head>
    <body>
        <div class="box">
            <img
                    class="logo"
                    src="/img/logo.png"
                    alt="wikipe-tan"
            />
            <div class="options">
                <select
                        name="server"
                        class="wider"
                >
                    <!--/*@thymesVar id="servers" type="java.util.List<String>"*/-->
                    <option
                            th:each="server : ${servers}"
                            th:text="${server}"
                            th:value="${server}"
                            value="undefined"
                    >
                        Flamelash
                    </option>
                    <!--<option value="Ashbringer">Ashbringer</option>
                    <option value="Memes">Memes</option>-->
                    <!--#foreach($it in $in.getHeader("Frontend.SERVERS"))
                    <option value="$it.server">$it.server</option>
                    #end-->
                </select>
                <select
                        name="faction"
                        class="wider"
                >
                    <option value="alliance">Alliance</option>
                    <option value="horde">Horde</option>
                </select>
                <select name="depth">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <label class="input">Item:
                <input
                        type="text"
                        name="item_name"
                />
            </label>
            <div>Ten</div>
        </div>
    </body>
</html>
